.style h1 {
  font-size: 42pt;
  padding: 0.5%;
}

.style h2 {
  font-size: 32pt;
}

.style small {
  font-size: 24pt;
}

.style p {
  font-size: 32pt;
  padding: 0!important;
}

.reference {
  color: gray;
  top: 100%;
  left: 5%;
  position: absolute;
}

.reveal .slide-number {
  right: 8px;
  top: 8px;
  bottom: auto;
  font-size: 24pt;
}
