
/** Style **/
.style h1 {
  font-size: 42pt;
  padding: 0.5%;
}

.style h2 {
  font-size: 32pt;
}

.style small {
  font-size: 24pt;
}

.style p {
  font-size: 32pt;
  padding: 0!important;
}

/** Logo **/

#logo-div {
  top: 89%;
  left: 2%;
  position: fixed;
}

.logo {
  height: 8vh;
}

/** Reference **/

.reference {
  color: gray;
  top: 100%;
  left: 5%;
  position: absolute;
}

/** Formats **/

.format a:link, a:visited, a:active {
  color: black;
  font-size: 18pt;
  outline: 0;
}

/** Reveal **/

.reveal .slide-number {
  right: 8px;
  top: 8px;
  bottom: auto;
  font-size: 24pt;
}
